<div id="key-group-wrapper" [ngStyle]="{'width': keyGroupWrapperWidthStyle}">
  <div id="key-group-delete" (click)="deleteKeyGroupButtonClick()">
    <i class="fa fa-times"></i>
  </div>
  <div id="key-group-title">
    <input type="text" spellcheck="false" [(ngModel)]="keyGroup.Title" (ngModelChange)="keyGroupTitleChange()" value="{{ keyGroup.Title }}" />
    <a href="#" (click)="createItemButtonClick()">
      <i class="fa fa-plus"></i>
    </a>
  </div>
  <div id="key-group-grid">
    <div if="key-group-grid-item" *ngFor="let item of keyGroup.KeyItems;">
      <app-key-item [keyItem]="item" [parentKeyGroup]="keyGroup" [parentKeyCategory]="parentKeyCategory" [ngStyle]="{'display': keyItemDisplayStates[i]}" (keyItemFocus)="keyItemFocus(item)" (keyItemChange)="keyItemChange()" (deleteKeyItem)="deleteKeyItem(item)"></app-key-item>
    </div>
  </div>
</div>
